<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://img-c.udemycdn.com/course/750x422/1693748_4c8f.jpg"
     alt="photo"
     >
  </div>
  <div class="big-card__title">
    <h1><a href="#">Qual é a importância da lógica de programação e Estruturas de Dados para o programador de sucesso?</a></h1>
  </div>
  <div class="big-card__description">
    <p><a href="#">Os pilares do desenvolvimento se resume a estas duas disciplinas, a lógica de programaçao abre as portas para se aprender qualquer linguagem de programação e estruturas de dados nos permitem organizar os códigos de maneira mais eficiente...</a></p>
  </div>

</div>
